# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
dist

# demo build
# TODO demo/dist

# dev server build
# TODO dev-server/dist

npm-debug.log*