# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/dist

# demo build
demo/dist

/dev-server/dist

npm-debug.log*