.scoreboard .period-indicators {
	margin-top: 10px;
}
.scoreboard .period-indicators > .indicator-item {
	@include circle(inline-block, 10px, 10px, $grey, 0 10px);
}
.scoreboard .period-indicators > .indicator-item[data-active="true"] {
	background-color: $yellow;
}
@media($screen-md-less) {
	.scoreboard .period-indicators {
		margin-top: 5px;
	}
	.scoreboard .period-indicators > .indicator-item {
		width: 6px;
		height: 6px;
		margin: 0 5px;
	}
}
