/*
 * box-model-constructor mixin
 * supports optional arguments using the null data type
 * giving a variable a null value excludes it from the CSS output
 *
 * Defines a box-model-constructor mixin
 * @param @width      {number} The value that sets the width of the element
 * @param @size       {number} The value that sets the height of the element
 * @param @display    {string} The value that sets the display type of a element
 * @param @radius     {number} The value that adds rounded corners to an element
 * @param @margin     {number} The value of the amount of spacing outside of a element
 * @param @paddding   {number} The value of the amount of padding inside of a element
 * @param @bg-color   {color}  The value that sets the background color of an element
 * @param @border     {string} The value that creates a border around an element
 * @param @$txt-align {string} The value that aligns inline elements in the specified direction
 *
 * @return {mixin} box-model-constructor
 */

@mixin box-model-constructor(
  $width:     null,
  $height:    null,
  $display:   null,
  $radius:    null,
  $margin:    null,
  $padding:   null,
  $bg-color:  null,
  $border:    null,
  $txt-align: null
  ) {
    width: $width;
    height: $height;
    display: $display;
    border-radius: $radius;
    margin: $margin;
    padding: $padding;
    background-color: $bg-color;
    border: $border;
    text-align: $txt-align;
}