$open-sans: 'Open Sans', sans-serif;
$digital-7: 'Digital-7', sans-serif;
$dot-matrix: 'Dot Matrix', sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$base-font-color: $grey;

html {
  font-size: $base-font-size;
}
body {
  font-family: $open-sans;
}
