$open-sans: 'Open Sans', sans-serif;
$ds-digital: 'DS-Digital', sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$base-font-color: $grey;

html {
  font-size: $base-font-size;
}
body {
  font-family: $open-sans;
}
