.toolbar {
	text-align: center;
}
.btn-demo {
	margin: 50px 10px;
  background-color: rgba(255,255,255,.2);
  border: 1px solid rgba(255,255,255,.1);;
  color: $grey;
  border-radius: 3px;
  padding: 3px 10px;
}
