/*
 * colon-box module
 * Defines a colon-box module
 *
 * @return {mixin} The colon-box
 */

@import 'helpers/mixins/_font-constructor';
@import 'helpers/mixins/_set-theme';

@mixin colon-box() {
  // variables
  $colon-color: $yellow;

  // styles
  .colon-box {
    // render theme
    @include render-component-theme('colon-box');

    @include font-constructor(4.8rem, 4.8rem, 400, $colon-color, $digital-7);
    @include text-center();
    display: inline-block;
    padding-top: 7px;
    vertical-align: top;
    width: 14%;

    @media($screen-md-less) {
      @include font-constructor(3rem, 3rem);
      width: 15%;
    }

    @media($screen-sm-less) {
      @include font-constructor(2rem, 2rem, 400);
      width: 17%;
    }
  }
}