/*
 * label-box module
 *
 * Defines a label-box module
 *
 * @return {mixin} The label-box
 */

@import 'helpers/mixins/_box-helpers';
@import 'helpers/mixins/_font-constructor';

@mixin label-box() {
  // variables
  $label-box-bg-color: rgba(0, 0, 0, 0.4);
  $label-box-margin: 0 0 8px 0;
  $label-box-padding: 4px 0;
  $label-box-border: 0;
  // screen-md-less
  $label-box-padding--md: 4px 0;

  // styles
  .label-box {
    @include box-model($label-box-margin, $label-box-padding, $label-box-border);
    @include box-color($label-box-bg-color);
    @include rounded($default-rounded);

    > .label-text {
      @include font-constructor(1.4rem, 1.4rem, 300, $grey, inherit, null, uppercase);
    }
    &.period-label {
      @include center();
      width: 55%;
    }

    @media($screen-md-less) {
      padding: $label-box-padding--md;

      > .label-text {
        @include font-constructor(1.1rem, 1.1rem, 400);
      }
    }

    @media($screen-sm-less) {
      &.period-label {
        width: 90%;
      }
    }
  }
}