/*
 * period-indicators module
 *
 * Defines a period-indicators module
 *
 * @return {mixin} The period-indicators
 */

@import 'helpers/mixins/_circle';

@mixin period-indicators() {
	// variables
	$item-size: 10px;
	$item-display: inline-block;
	$item-bg-color: $grey;
	$item-margin: 0 10px;
	$item-padding: 0;
	$item-active-color: $yellow;
	// screen-md-less
	$item-size--md: 7px;
	$item-margin--md: 0 5px;
	$indicator-top-margin--m: 5;

	// styles
	.period-indicators {
		> .indicator-item {
			@include circle(
				$item-size,
				$item-display,
				$item-bg-color,
				$item-margin,
				$item-padding
			);
			&[data-active="true"] {
				background-color: $item-active-color;
			}
		}

		@media($screen-md-less) {
			margin-top: $indicator-top-margin--m;

			> .indicator-item {
				@include circle(
					$item-size--md,
					null,
					null,
					$item-margin--md
				);
			}
		}
	}
}