/*
 * winning-indicator module
 * A indicator component that displays which team is winning the game
 *
 * @return {mixin} winning-indicator
 */

@import 'helpers/mixins/_rectangle';
@import 'helpers/mixins/_triangle';
@import 'helpers/mixins/_set-theme';

@mixin winning-indicator() {
  // variables
  $wi-margin: 21px 0 10px 0;
  $tri-size--left: 18px 18px 18px 0;
  $tri-size--right: 18px 0 18px 18px;
  $tri-color: #007bff;
  $tri-margin: 5px;
  $tri-color--active: $yellow;
  $tri-color--left: rgba(0, 0, 0, 0.4);
  $tri-color--right: $yellow;
  // screen-md-less
  $wi-margin--md: 25px 0 4px 0;
  $tri-size--left--md: 13px 13px 13px 0;
  $tri-size--right--md: 13px 0 13px 13px;
  // screen-sm-less
  $wi-margin--sm: 15px 0 4px 0;
  $tri-size--left--sm: 11px 11px 11px 0;
  $tri-size--right--sm: 11px 0 11px 11px;

	// styles
	.winning-indicator {
		width: $full-width;
		margin: $wi-margin;
		text-align: center;
		@include center();

		.triangle {
			display: inline-block;
			width: 0;
			height: 0;
			border-style: solid;
		}

		&[data-winning-team="away"] {
		}

		.triangle-left {
			@include triangle('left', $tri-size--left, $tri-color--left, $tri-margin);
		}
		.triangle-right {
			@include triangle('right', $tri-size--right, $tri-color--right, $tri-margin);
		}

	  @media($screen-md-less) {
	  	margin: $wi-margin--md;
			.triangle-left {
				@include triangle-size($tri-size--left--md);
			}
			.triangle-right {
				@include triangle-size($tri-size--right--md);
			}
	  }
	  @media($screen-sm-less) {
	  	margin: $wi-margin--sm;
			.triangle-left {
				@include triangle-size($tri-size--left--sm);
			}
			.triangle-right {
				@include triangle-size($tri-size--right--sm);
			}
	  }
	}
}